html {
  background: #708090;
}

body {
  width: 960px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
}

#tooltip {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 300px;
  min-height: 50px;
  padding: 12px;
  background: lightsteelblue;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none;
  font-size: 12px;
}
#tooltip p {
  margin: 10px 0;
}

circle {
  stroke: #000;
  opacity: 0.8;
}